.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), /* Dark overlay */
  url('./images/IMG_2004.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
    
}
 .main-container {
   margin-bottom: 100px;
 }
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  background-color: whitesmoke;
  border: 1px solid #6757d9;
  border-radius: 15px;
  padding: 6px;
  min-height: 50px;
  min-width: 600px;
}
.header div {
  display: flex;
  align-items: center;
  padding: 5px;

}
.header p {
  color: #6757d9;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 10px;
}
.header span {
  color: #6757d9;
  font-size: 1rem;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  display: inline-block;
}
.header span {
  margin-right:6px;
}
.bax-container {
  margin-bottom: 30px;
}
.question-text {
  background-color: #6757d9;
  min-height: 50px;
  min-width: 600px;
  color: #fff;
  margin: 60px 0 30px;
  border-radius: 15px;
  padding: 15px;
  font-size: 1.2rem;
}
.answers-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  list-style: none;
}
.answers-list li {
  background-color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: left;
  border: 2px solid #fff;
  cursor: pointer;
  overflow: hidden;
  word-wrap: break-word;
  min-height: 45px;
  max-width: 300px;
  transition: all 0.2s ease-in;
  box-shadow : rgba(216, 83, 167, 0.4) -5px 5px,
  rgba(216, 140, 188, 0.3) -10px 10px,
   rgba(192, 152, 177, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px,
     rgba(240, 46, 170, 0.05) -25px 25px;
 border-radius: 15px;

}
.answers-list li:hover {
  background-color: #eeedfb;
  border: 2px solid #fff;
}
.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center; 
  gap: 20px;
}
.next-question-button,
.previous-question-button {
  background: none;
  border: none;
  padding: 7px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.hint-button {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: #eeedfb;
  border: 1px solid #6757d9;
  color: #6757d9;
  font-size:1.2rem;
  font-weight: bold;
  padding: 7px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  align-items: center;
  justify-content: center;
}

.hint-button:hover
 {
  background-color: #6757d9;
  color: #fff;
}
.next-question-button img:hover,
.previous-question-button img:hover {
  transform: scale(1.5);
}
.final-page-container { 
  background: linear-gradient(to bottom, #c769ba, #7611eb);
  text-align: center;
  margin: 50px; 
  padding: 50px;
  border: none;
  
  box-shadow : rgba(216, 83, 167, 0.4) -5px 5px,
   rgba(216, 140, 188, 0.3) -10px 10px,
    rgba(192, 152, 177, 0.2) -15px 15px,
     rgba(240, 46, 170, 0.1) -20px 20px,
      rgba(240, 46, 170, 0.05) -25px 25px;
  border-radius: 15px;
  animation: fadeIn 1s ease-in-out;
} 
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.final-header h1 { 
  color: #eeedfb;
  background-color: #6757d9;
  border: 1px solid #eeedfb;
  font-size:1.5rem;
  font-weight: bold;
  padding: 7px 10px;
  border-radius: 15px;
  transition: all 0.2s ease-in;
  margin-top:30px;
  
}
.final-content p { 
  color: #eeedfb;
  background-color: #eeedfb86;
  font-size:1.5rem;
  font-weight: bold;
  padding: 4px 5px;
  border-radius: 15px;
  transition: all 0.2s ease-in;
  margin-top:15px;
  margin-bottom: 45px;
} 

.hint-text {
  position: absolute;
  bottom: 20px;
  background-color: #6757d9;
  min-height: 50px;
  min-width: 600px;
  color: #fff;
  border-radius: 15px;
  padding: 15px;
  font-size: 0.9rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.timer-container {
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
}

.high-score-container h1 {
  color: #eeedfb;
  background-color: #6757d9;
  border: 1px solid #eeedfb;
  font-size:1.5rem;
  font-weight: bold;
  padding: 7px 10px;
  border-radius: 15px;
  transition: all 0.2s ease-in;
  margin-top:30px;
}

.high-score-container table {
  color: #6757d9;
  background-color: #eeedfb86;
  font-size:1rem;
  font-weight: bold;
  border-radius: 15px;
  transition: all 0.2s ease-in;
  margin-top:15px;
  width: 100%;
}

.high-score-container tr {
  background-color: #6657d9d2;
  border: 2px solid #6757d9;
  color: #ffffff;
}

.high-score-container tr:nth-of-type(odd) {
  background-color: #6657d989;
}

.high-score-container td,th {
  padding: 4px 50px;
}

.high-score-container th {
  background-color: #6757d9;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.high-score-container tr:nth-last-child(-n + 1) td {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.final-page-container button {
  color: #6757d9;
  background-color: #eeedfb;
  border: 1px solid #6757d9;
  font-size:1.2rem;
  font-weight: bold;
  padding: 7px 10px;
  border-radius: 15px;
  transition: all 0.2s ease-in;
  margin-top:30px;
  cursor: pointer; 
}

.final-page-container button:hover {
  background-color: #6757d9;
  color: #fff;
}

.highlighted-user {
  color: #6757d9;;
  font-weight: bold;
  font-size:35px;
}